[submodule "dpdk-1.8.0"]
        path = dpdk
        url = https://github.com/DPDK/dpdk.git
        branch = master
        commit = 0da7f445df445630c794897347ee360d6fe6348b
[submodule "tools/Pktgen/pktgen-dpdk"]
        path = tools/Pktgen/pktgen-dpdk
        url = https://github.com/pktgen/Pktgen-DPDK.git
        branch = master
        commit = 807b4d2cfcc8ded46ece85353cefe5d655674de3

